{% extends "sentry_hipchat/layout.html"  %}
{% load sentry_helpers %}
{% block body %}
  <div class="aui-page-panel">
    <div class="aui-page-panel-inner">
      <section class="aui-page-panel-content">
        <ul class="event-list">
        {% for me in events %}
          <li class="event">
            <form action="" method="post">
              {% csrf_token %}
              <button class="btn minidelete" name="delete">Delete</button>
              <input type="hidden" name="event" value="{{ me.id }}">
            </form>
            <h4><a href="{{ me.group.get_absolute_url }}" target="_blank">{{ me.event.error }}</a></h4>
            <p class="culprit">{{ me.event.culprit }}
            <p class="meta"><strong>Project:</strong>
              <a target="_blank" href="{{ me.event.proejct.get_absolute_url }}">{{ me.event.project.name }}</a>
              <span class="divider"></span> {{ me.last_mentioned|date:"M d, Y" }} {{ me.last_mentioned|time:"H:i" }}
          </li>
        {% endfor %}
        </ul>
      </section>
    </div>
  </div>
{% endblock %}
