{% extends "hipchat_sentry_layout.html"  %}
{% load sentry_helpers %}
{% block body %}
  <div class="aui-page-panel">
    <div class="aui-page-panel-inner">
      <section class="aui-page-panel-content">
        <ul>
        {% for me in events %}
          <li><div class="event">
            <h3>{{ me.event.error }}</h3>
            <p class="culprit">{{ me.event.culprit }}
            <p><strong>Project:</strong> {{ me.event.project.name }}
            <p><a href="{{ me.group.get_absolute_url }}" target="_blank" class="btn orange">View in Sentry</a>
          </div></li>
        {% endfor %}
        </ul>
      </section>
    </div>
  </div>
{% endblock %}
