<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="token" value="{{ signed_request }}">
    <script src="https://www.hipchat.com/atlassian-connect/all{% if hipchat_debug %}-debug{% endif %}.js"></script>
    <link rel="stylesheet" href="https://www.hipchat.com/atlassian-connect/all{% if hipchat_debug %}-debug{% endif %}.css">
  </head>
  <body>
    {% if user.is_authenticated %}
      <p>You are signed in as {{ user.username }}.  <a href="{% url 'sentry-logout' %}">Change accounts?</a></p>
      <h2>Projects</h2>
      <p>Select the projects which should be associated with the room.</p>
    {% else %}
      <h2>Sign into Sentry</h2>
      <p>
        Welcome to Sentry for Hipchat.  Before we can get going, you need to
        sign into Sentry with your user account.
      </p>
      <p>
        <a href="{% url 'sentry-login' %}">Sign in</a>
      </p>
    {% endif %}
  </body>
</html>
