{% extends "hipchat_sentry_layout.html"  %}
{% load sentry_helpers %}
{% block body %}
  <script>
    AP.register({
      "message.sentry.event-details": function(message) {
        var token = $('meta[name="token"]').attr('value');
        var event = message.metadata.event;
        document.location.search = 'signed_request=' + encodeURIComponent(token) + '&event=' + event;
      }
    });
  </script>
  {% if event %}
    <div class="aui-page-panel">
      <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
          <h3>{{ event.error }}</h3>
          <p class="culprit">{{ event.culprit }}
          <p><a href="{{ group.get_absolute_url }}" target="_blank">View in Sentry</a>
          {% url 'sentry-stream' group.project.organization.slug group.project.slug as project_link %}

          <ul class="tag-list">
          {% for tag_key, tag_value in tags %}
            <li>
              <strong>{{ tag_key }}</strong>
              <em>=</em>
              <span><a href="{% absolute_uri project_link %}?{{ tag_key }}={{ tag_value }}">{{ tag_value }}</a> {% if tag_value|is_url %}<a href="{{ tag_value }}" class="icon-share"></a>{% endif %}</span>
            </li>
          {% endfor %}
          </ul>

          {% if interfaces.exc %}
          <div class="interface">
            <h4 class="title">Exception</h4>
            <pre>{{ interfaces.exc_as_string }}</pre>
          </div>
          {% endif %}

          {% if interfaces.http %}
          <div class="interface">
            <h4 class="title">Request</h4>
            <table>
              <tbody>
                <tr>
                  <th>URL</th>
                    <td><a href="{{ interfaces.http.full_url }}">{{ interfaces.http.url }}</a></td>
                </tr>
                {% if interfaces.http.method %}
                  <tr>
                    <th>Method</th>
                    <td>{{ method }}</td>
                  </tr>
                {% endif %}
                <tr>
                  <th>Query</th>
                  <td>
                    <code>{{ interfaces.http.query_string }}</code>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          {% endif %}

          {% if interfaces.user %}
          <div class="interface">
            <h4 class="title">User</h4>
            <table>
              <tr>
                {% if interfaces.user.email %}
                  <td style="width:84px;padding-top:10px;vertical-align:top">
                    <img src="{% gravatar_url interfaces.user.email size 64 %}">
                  </td>
                {% endif %}
                <td>
                  <table>
                    <colgroup>
                      <col style="width:130px;">
                    </colgroup>
                    <tbody>
                      {% if interfaces.user.id %}
                        <tr>
                          <th>ID:</th>
                          <td class="code">{{ interfaces.user.id }}</td>
                        </tr>
                        {% endif %}
                      {% if interfaces.user.ip_address %}
                        <tr>
                          <th>IP Address:</th>
                          <td class="code">{{ interfaces.user.ip_address }}</td>
                        </tr>
                      {% endif %}
                      {% if interfaces.user.username %}
                        <tr>
                          <th>Username:</th>
                          <td class="code">{{ interfaces.user.username }}</td>
                        </tr>
                      {% endif %}
                      {% if interfaces.user.email %}
                        <tr>
                          <th>Email:</th>
                          <td class="code">{{ interfaces.user.email }}</td>
                        </tr>
                      {% endif %}
                      {% if interfaces.user.data %}
                        {% for key, value in interfaces.user.data.iteritems %}
                          <tr>
                            <th>{{ key|titlize }}</th>
                            <td class="code">{{ value }}</td>
                          </tr>
                        {% endfor %}
                      {% endif %}
                    </tbody>
                  </table>
                </td>
              </tr>
            </table>
          </div>
          {% endif %}
        </section>
      </div>
    </div>
  {% endif %}
{% endblock %}
